---
export interface Props {
  title: string;
}

import '../styles/main.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TRPGのシナリオの作り方の解説の他、TRPG、D&D、クトゥルフ神話TRPG、ArsMagica、Paranoia、深淵、ロールマスターなどの話題を扱っています。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <title>{title}</title>
  </head>
  <body>
    <header class="main">
      <div class="container">
        <h1><a href="/">氷川TRPG研究室</a></h1>
      </div>
    </header>
    <nav class="main">
      <div class="container">
        <ul>
          <li><a href="/">ホーム</a></li>
          <li><a href="/labo">研究室</a></li>
          <li><a href="/blog">ブログ</a></li>
          <li><a href="/review">レビュー</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <main>
        <slot />
      </main>
    </div>
    <footer>
      <div class="container">
        <div class="links">
          <a href="https://scenario.trpg-labo.com/" target="_blank">TRPGシナリオ作成大全</a>
          <a href="https://x.com/kilica" target="_blank">X.com</a>
        </div>
        <p>&copy; 2024 氷川TRPG研究室. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
